<div class="first-sight">
    <video id="somethinf" plays-inline autoplay muted loop>
        <source src="../../assets/1058238892-preview.mp4" type="video/mp4">
        <!-- <source src="movie.ogg" type="video/ogg"> -->
        Your browser does not support the video tag.
    </video>

    <!-- <div class="centered">
        
        <div class="line1">To be </div>
        <div class="line2"> the foremost academic institution</div>
        <div class="line3"> to drive transformation in retail.</div>
       
    </div> -->
</div>