
.first-sight{
    position: relative;
  text-align: center;
  color: white;
}
video {
    position: relative; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: 530px; z-index: -100;
    object-fit: fill;
    background-size: cover;
}

.mission-text{
    text-align: center;
    font-size: large;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.line1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}
.line2{
    width: max-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xxx-large;
    font-weight: bolder;
}
.line3{
    
    /* width: max-content; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
}