
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Home" color="green">
            <div class="example-large-box mat-elevation-z4" >
                <!-- <div class="container">
                    <app-carousel></app-carousel>
                    <mat-card class="mission-text" >
                        "To be the foremost academic institution to drive transformation in retail."
                        
                    </mat-card>
                    <app-initiatives [state1]="state1" [state2]="state2" [state3]="state3"></app-initiatives>
                    <app-card></app-card>
                </div> -->
            </div>
            <!-- <div class="example-large-box mat-elevation-z4" onscroll=checkScroll($event)>
                
            </div> -->
            
        </mat-tab>
        <mat-tab label="Research">
            <div class="example-large-box mat-elevation-z4">
                To be added
            </div>
        </mat-tab>
        <mat-tab label="Intiatives">
            <div class="example-large-box mat-elevation-z4">
                To be added
            </div>
        </mat-tab>
        <mat-tab label="Affiliated Faculty">
            <div class="example-large-box mat-elevation-z4">
                <!-- <app-faculty></app-faculty> -->
            </div>
        </mat-tab>
        <mat-tab label="Advisory Council">
            <div class="example-large-box mat-elevation-z4">
                <!-- <app-advisory-council></app-advisory-council> -->
            </div>
        </mat-tab>
        <!-- <mat-tab label="Contact">
            <div class="example-large-box mat-elevation-z4">
                <app-contact></app-contact> 
            </div>
        </mat-tab> -->
    </mat-tab-group>
    
    
    

    
    

    
