/* You can add global styles to this file, and also import other style files */
.mat-tab-labels{
    background-color: black;
}

.mat-tab-label .mat-tab-label-content {
    color: white;
    font-size: medium;
    font-weight: bolder;
}